# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.env
/.idea/dataSources.xml
/.idea/markdown.xml
/prisma_old/migrations/20230616135625_init/migration.sql
/prisma_old/migrations/migration_lock.toml
/.idea/php.xml
/prisma_old/schema.prisma
/.idea/vcs.xml
/prisma/migrations/20230617060948_init/migration.sql
/prisma/migrations/migration_lock.toml
