@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .container {
    max-width: 1555px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

nav {
    background: #000;
    color: #fff;
}

.navigate {
    font-size: 18px;
  }

  .navigate a {
    margin-right: 35px;
  }

  .navigate a:hover {
    color: #F2C64D;
    border-bottom: 2px solid #F2C64D;
  }


  .book_room a {
    margin-right: 15px;
  }

  .book_btn {
    background: transparent;
    padding: 12px 26px;
    font-size: 18px;
    border: 1px solid #F2C64D;
    color: #F2C64D;
    border-radius: 30px;
    transition: 0.3s;
  }

  .book_btn:hover {
    background: #F2C64D;
    color: #fff;
    border: 1px solid #F2C64D;
  }