@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');
 
  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

nav {
    position: absolute;
    width: 100%;
    background: transparent;
    color: #fff;
    z-index: 9;
    font-weight: 800;
}

.navigate {
    font-size: 20px;
  }

  .navigate a {
    margin-right: 35px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #FFF;
  }

  .navigate a:hover {
    color: #F2C64D;
    border-bottom: 2px solid #F2C64D;
  }

  .book_room a {
    margin-right: 15px;
  }

  .book_btn {
    background: transparent;
    padding: 12px 26px;
    font-size: 18px;
    border: 1px solid #F2C64D;
    color: #F2C64D;
    border-radius: 30px;
    transition: 0.3s;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
  }

  .book_btn:hover {
    background: #F2C64D;
    color: #fff;
    border: 1px solid #F2C64D;
  }


